












.....students_title{
	text-align: center; 
	color: blue; 
	background-color: rgba(48,149,41,0.5);
}

.logo {
	background: url(../images/photo.jpg) no-repeat;
	background-position: center;
	background-attachment: all;
	background-size: 100% 100%;
	display: flex;
	width: 10%;
	margin: auto;
	height: 100%;
	background-color: red;
}


.students_area {
	background: url(../images/blog_1.jpg) no-repeat;
	background-position: center;
	background-attachment: all;
	background-size: 100% 100%;
	display: flex;
	width: 80%;
	margin: auto;
	height: 100%;
	background-color: red;
}

.students_area_first, .students_area_second {
	width: 40%;
	margin-left: 40%;
}

.students_area_first {
	background-color: green;
}

.students_area_second {
	float: left;
}

.label1 {
	font-family: inherit;
	color: black;
	font-weight: bold;
	padding: auto;
	
}

.labelback{
	background-color: #bdc1c8;
	width: 200px;
}

.label1_input {
	width: 200px;
	height: 30px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 3px solid #42b9d8;
}

.sname_div, .oname_div, .class_div,  .phone_div, .p_phone_div, .email_div, .address_div {
	
	padding-bottom: 17px;
	padding-left: 145px;
}


.dob_div, .age_div, .category_div,.sex_div, .f_sch_div, .yr_adm_div {
	padding-bottom: 40px;
	margin-left: -100px;
}

.address {
	height: 70px;
}


span {
	color: red;
}

